In [1]:
import sqlite3
import os

In [5]:
os.getcwd()
os.chdir('/home/zeski/Documents/Data_Science/SQL/SQL_DBS/')

In [8]:
conn = sqlite3.connect('Artist.sqlite')
c = conn.cursor()

# Creating the Tables for Database:

In [9]:
c.execute('''
        CREATE TABLE IF NOT EXISTS Artist(
                            id      INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                            name    TEXT
        )


''')

In [10]:
c.execute('''
        CREATE TABLE IF NOT EXISTS Genre(
                        id           INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                        name         TEXT
        )
''')

In [11]:
c.execute('''
        CREATE TABLE IF NOT EXISTS Album(
                            id          INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                            artist_id   INTEGER,
                            title       TEXT
        )
''')

In [12]:
c.execute('''
        CREATE TABLE IF NOT EXISTS Track(
                            id          INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
                            title       TEXT,
                            album_id    INTEGER,
                            genre_id    INTEGER, 
                            len         INTEGER,
                            rating      INTEGER,
                            count       INTEGER
        )
''')

In [13]:
conn.commit()

# Inserting Data into the various tables:

In [14]:
c.execute('''
        INSERT INTO Artist(name) VALUES ('Led Zeppelin')
''')
c.execute('''
        INSERT INTO Artist(name) VALUES ('AC/DC')
''')
conn.commit()

In [17]:
c.execute('''
        INSERT INTO Genre(name) VALUES ('Rock')
''')
c.execute('''
        INSERT INTO Genre(name) VALUES ('Metal')
''')
conn.commit()

In [20]:
c.execute('''
        INSERT INTO Album(title,artist_id)  VALUES ('Who Made Who',2);
''')
c.execute('''
        INSERT INTO Album(title, artist_id) VALUES ('IV', 1)
''')

conn.commit()

In [21]:
c.execute('''
    INSERT INTO Track(title, rating, len,count,album_id, genre_id) VALUES ('Black Dog', 5,297,0,2,1)
''')
c.execute('''
    INSERT INTO Track(title, rating, len,count,album_id, genre_id) VALUES ('Stairway', 5, 482, 0, 2, 1)
''')
c.execute('''
    INSERT INTO Track(title, rating, len,count,album_id, genre_id) VALUES ('About to Rock', 5,313,0,1,2)
''')
c.execute('''
    INSERT INTO Track(title, rating, len,count,album_id, genre_id) VALUES ('Who Made Who', 5,207, 0,1,2)
''')
conn.commit()

## Selecting Data

In [23]:
c.execute('''
        SELECT Album.title, Artist.name FROM Album JOIN Artist ON Album.artist_id = Artist_id
''')
print(c.fetchall())

[('Who Made Who', 'Led Zeppelin'), ('Who Made Who', 'AC/DC'), ('IV', 'Led Zeppelin'), ('IV', 'AC/DC')]

In [25]:
c.execute('''
        SELECT Album.title, Album.artist_id, Artist_id, Artist.name FROM Album join Artist ON Album.artist_id = Artist.id
''')
print(c.fetchall())

[('Who Made Who', 2, 2, 'AC/DC'), ('IV', 1, 1, 'Led Zeppelin')]

In [28]:
c.execute('''
        SELECT Track.title, Genre.name FROM Track JOIN Genre ON Track.genre_id = Genre.id
''')
print(c.fetchall())

[('Black Dog', 'Rock'), ('Stairway', 'Rock'), ('About to Rock', 'Metal'), ('Who Made Who', 'Metal')]

In [30]:
c.execute('''
    SELECT Track.title, Artist.name, Album.title, Genre.name FROM Track JOIN Genre JOIN Album JOIN Artist ON Track.genre_id = Genre.id AND Track.album_id = Album.id AND Album.artist_id = Artist.id
''')
print(c.fetchall())

[('Black Dog', 'Led Zeppelin', 'IV', 'Rock'), ('Stairway', 'Led Zeppelin', 'IV', 'Rock'), ('About to Rock', 'AC/DC', 'Who Made Who', 'Metal'), ('Who Made Who', 'AC/DC', 'Who Made Who', 'Metal')]