## Counting Emails in a Database:

In [2]:
import sqlite3
import os

In [11]:
os.chdir('/home/zeski/Documents/Data_Science/SQL/SQL_DBS')

os.getcwd()

In [16]:
conn= sqlite3.connect('email.db')
c = conn.cursor()
os.listdir()

['email.db', 'FIRSTDB.db', 'sql1.db.sqbpro']

In [22]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Counts (email TEXT, count INTEGER)
''')

fname= input('Enter file name: ')

if (len(fname)<1): fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    c.execute('''
            SELECT count FROM Counts WHERE email = ? 
    ''', (email,))
    row = c.fetchone()
    if row is None:
        c.execute('''
                INSERT INTO Counts (email, count)
                VALUES(?, 1)
        ''', (email,))
    else:
         c.execute('''
                 UPDATE Counts SET count = count +1 WHERE email = ?
         ''',(email,))
    conn.commit()

In [23]:
sql = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'

In [25]:
for row in c.execute(sql):
    print(str(row[0]), row[1])

zqian@umich.edu 195
mmmay@indiana.edu 161
cwen@iupui.edu 158
chmaurer@iupui.edu 111
aaronz@vt.edu 110
ian@caret.cam.ac.uk 96
jimeng@umich.edu 93
rjlowe@iupui.edu 90
dlhaines@umich.edu 84
david.horwitz@uct.ac.za 67

In [26]:
c.close()

In [27]:
conn.close()