In [1]:
import sqlite3
import os

In [2]:
os.getcwd()
os.chdir('/home/zeski/Documents/Data_Science/SQL/SQL_DBS/')

In [3]:
db = sqlite3.connect('FIRSTDB.db')
c = db.cursor()

In [4]:
os.listdir()

['FIRSTDB.db', 'sql1.db.sqbpro']

In [5]:
## Creating the Database: 
c.execute('''
    CREATE TABLE IF NOT EXISTS Ages(
                    name VARCHAR(128),
                    age INTEGER
    )

''')

In [6]:
## Deleting from the database to make sure it is clear before I insert:

c.execute('''
        DELETE FROM Ages;
''')

In [7]:
c.execute('''
        INSERT INTO Ages(name, age)  VALUES ('Manahil', 30);
''')
c.execute('''
        INSERT INTO Ages(name, age)  VALUES ('Blanka', 22) ;
''')
c.execute('''
        INSERT INTO Ages(name, age)  VALUES ('Emer', 13)   ; 
''')
c.execute('''
        INSERT INTO Ages(name, age)  VALUES ('Spencer', 29);
''')

In [8]:
s = c.execute('''
        SELECT hex(name || age) AS X FROM Ages ORDER BY X;
''')
s.fetchall()

[('426C616E6B613232',),
 ('456D65723133',),
 ('4D616E6168696C3330',),
 ('5370656E6365723239',)]

In [9]:
db.commit()

In [10]:
db.close()