## Creating a database for the organizations and Counting them:

In [1]:
import sqlite3
import os

os.chdir('/home/zeski/Documents/Data_Science/SQL/SQL_DBS')
os.getcwd()

'/home/zeski/Documents/Data_Science/SQL/SQL_DBS'

In [2]:
conn= sqlite3.connect('organizations.sqlite')
c = conn.cursor()

In [3]:
c.execute('''
    CREATE TABLE IF NOT EXISTS Counts(org TEXT, count INTEGER)
''')

In [4]:
fname= input('Enter file name: ')

if (len(fname)<1): fname = 'mbox.txt'
fh = open(fname)
orgas= []
for line in fh:
    if not line.startswith('From: '): continue
    piece = line.strip('\n').split('@')
    org = piece[1]
    #orgas.append(piece[1])
    c.execute('''
            SELECT count FROM Counts WHERE org = ? 
    ''', (org,))
    row = c.fetchone()

    if row is None:
        c.execute('''
                INSERT INTO Counts (org, count)
                VALUES(?, 1)
        ''', (org,))
    else:
         c.execute('''
                 UPDATE Counts SET count = count +1 WHERE org = ?
         ''',(org,))
conn.commit()

In [5]:
sql = 'SELECT * FROM Counts ORDER BY count DESC'

c.execute(sql)
c.fetchall()

[('iupui.edu', 536),
 ('umich.edu', 491),
 ('indiana.edu', 178),
 ('caret.cam.ac.uk', 157),
 ('vt.edu', 110),
 ('uct.ac.za', 96),
 ('media.berkeley.edu', 56),
 ('ufp.pt', 28),
 ('gmail.com', 25),
 ('et.gatech.edu', 17),
 ('txstate.edu', 17),
 ('whitman.edu', 17),
 ('lancaster.ac.uk', 14),
 ('bu.edu', 14),
 ('stanford.edu', 12),
 ('unicon.net', 9),
 ('loi.nl', 9),
 ('rsmart.com', 8),
 ('ucdavis.edu', 1),
 ('fhda.edu', 1),
 ('utoronto.ca', 1)]

In [6]:
c.close()
conn.close()